* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .nav-links {
    display: flex;
    list-style: none;
  }
  
  .navbar .nav-links li {
    margin: 0 15px;
  }
  
  .navbar .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .section {
    padding: 20px;
    margin-top: 20px;
    
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
    }
  
    .navbar .nav-links.active {
      display: flex;
    }
  
    .navbar .nav-links li {
      margin: 10px 0;
    }
  
    .menu-toggle {
      display: block;
    }
  }

  
/* Slider Container */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* สไตล์สำหรับแต่ละสไลด์ */
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* ปุ่มสำหรับสลับสไลด์ */
  button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transform: translateY(-50%);
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  